openai
requests
beautifulsoup4
psycopg2-binary
streamlit==1.32.2
pandas
pgvector
Faker
tavily-python
numpy
pyyaml
jinja2
weasyprint
supabase>=2.0.0
langchain==0.1.16
langchain-community==0.0.38
langchain-openai
unstructured
python-docx
openai
python-dotenv
pypdf
tiktoken
streamlit-pdf-viewer